/* header */
ul {
    width: 500px;
    display: flex;
    justify-content: space-between;
    padding-right: 120px;
}
.header {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    align-items: center;
}
.headerp {
    font-size: 24px;
    font-weight: bold;
    color: #3D37F1;
    font-family: 'Lato', sans-serif;
}
.headerspan {
    font-size: 24px;
    font-weight: lighter;
    color: #4B647E;
    font-family: 'Lato', sans-serif;
}
.nav_li {
    font-size: 15px;
    font-weight: bold;
    color: #3D37F1;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
}
/* section 1 */
.wave {
    background-color:#3D37F1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 45px;
    border-radius: 38px;
    margin-top: 90px;
}
.section1h {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: #534D4D;
    font-size: 60px;
    width: 500px;
}
.section1p {
    font-family: 'Roboto', sans-serif;
    color: #534D4D;
    font-size: 17px;
    width: 500px;
    margin-top: 40px;
}
.wavep {
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
    font-size: 17px;
    margin-left: 10px;
}
.section1 {
    width: 1200px;
    margin: 70px auto 20px;
    display: flex;
    justify-content: space-between;
}
.img1 {
    width: 550px;
}
/* section2 */
.section2h{
    font-size: 15px;
    font-weight: bold;
    color: #3D37F1;
    font-family: 'Lato', sans-serif;
}
.section2p1 {
    font-family: 'Lato', sans-serif;
    color: #5A5454;
    font-size: 30px;
    margin-top: 15px;
}
.section2p2 {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #747474;
    margin-top: 17px;
}
.section2div1 {
    width: 600px;
    text-align: center;
    margin: 50px auto;
    padding-top: 50px;
}
.section2 {
    background-color: #FBFCFD;
}

.divhead {
    font-family: 'Lato', sans-serif;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
    margin-top: 50px;
}
.divtext {
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    font-size: 15px;
    text-align: center;
    margin-top: 15px;
}
.div-readme {
    width: 120px;
    height: 30px;
    border-style: solid;
    border-width: 2px;
    border-color: #FFFFFF;
    border-radius: 38px;
    /* background-color:  #FBBA77; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.text-readme {
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    font-size: 15px;
    text-align: center;
}
.parent-box {
    width: 1100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    padding-bottom: 50px;
}
.child-block {
    width: 300px;
    height: 370px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.n1 {
    background-color: #FBBA77;
}
.n2 {
    background-color: #41EAE3;
}
.n3 {
    background-color: #69529F;
}
.n4 {
    background-color: #4386D2;
    margin-top: 20px;
}
.n5 {
    background-color: #A5A2F6;
    margin-top: 20px;
}
.n6 {
    background-color: #FF8088;
    margin-top: 20px;
}



